# This is a basic workflow to help you get started with Actions

name: Regenerate Tokens

# Controls when the workflow will run
on:
  repository_dispatch:
    types: [dispatched-build]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      # Runs a single command using the runners shell
      - name: Set bot user
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
      - name: pull from @adobocorp/pinoy-coderz-style-dictionary
        run: |
          git fetch https://github.com/adobocorp/pinoy-coderz-style-dictionary
          git checkout FETCH_HEAD -- build/scss/_variables.scss
          git commit -a -m "Add changes"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
